web/WEB-INF/wsdl/localhost_8080/DatabaseConnection/DatabaseConnection.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="DatabaseConnection">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/DatabaseConnection/DatabaseConnection?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserData">
<part name="parameters" element="tns:getUserData"/>
</message>
<message name="getUserDataResponse">
<part name="parameters" element="tns:getUserDataResponse"/>
</message>
<message name="createDatabase">
<part name="parameters" element="tns:createDatabase"/>
</message>
<message name="createDatabaseResponse">
<part name="parameters" element="tns:createDatabaseResponse"/>
</message>
<message name="getDatabases">
<part name="parameters" element="tns:getDatabases"/>
</message>
<message name="getDatabasesResponse">
<part name="parameters" element="tns:getDatabasesResponse"/>
</message>
<portType name="DatabaseConnection">
<operation name="getUserData">
<input wsam:Action="http://soap/DatabaseConnection/getUserDataRequest" message="tns:getUserData"/>
<output wsam:Action="http://soap/DatabaseConnection/getUserDataResponse" message="tns:getUserDataResponse"/>
</operation>
<operation name="createDatabase">
<input wsam:Action="http://soap/DatabaseConnection/createDatabaseRequest" message="tns:createDatabase"/>
<output wsam:Action="http://soap/DatabaseConnection/createDatabaseResponse" message="tns:createDatabaseResponse"/>
</operation>
<operation name="getDatabases">
<input wsam:Action="http://soap/DatabaseConnection/getDatabasesRequest" message="tns:getDatabases"/>
<output wsam:Action="http://soap/DatabaseConnection/getDatabasesResponse" message="tns:getDatabasesResponse"/>
</operation>
</portType>
<binding name="DatabaseConnectionPortBinding" type="tns:DatabaseConnection">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDatabase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDatabases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DatabaseConnection">
<port name="DatabaseConnectionPort" binding="tns:DatabaseConnectionPortBinding">
<soap:address location="http://localhost:8080/DatabaseConnection/DatabaseConnection"/>
</port>
</service>
</definitions>